<%= image_tag 'toaster.png', :class => "img_toaster" %>

<h1>Tostest</h1>

<p>
  Provided that the pipeline is enabled within your application (and not disabled in the current environment context), this file is served by Sprockets. If a file exists at public/assets/rails.png it is served by the web server.
</p>
<br />

<div class="div_part">
  <h3>AAAA</h3>
  Provided that the pipeline is enabled within your application (and not disabled in the current environment context), t
  <br /><%= link_to "AAA"%>
</div>

<div class="div_part">
  <h3>AAAA</h3>
  the pipeline is enabled within your application (an Provided that the pipeline is enabled within your application (and not disabled in the current environment context), t
  <br /><%= link_to "AAA"%>
</div>

<div class="div_part">
  <h3>AAAA</h3>
  Provided that the pipeline is enabled within your application (and not disabled in the current environment context), t
  <br /><%= link_to "AAA"%>
</div>