<ul>
	<li><%= link_to 'Home', :controller => "home", :action => "index" %></li>
	<li><%= link_to 'Tests', tests_path %></li>
	<li><%= link_to 'Edit', categories_path %></li>
	<li><%= link_to 'Blog', :controller => "home", :action => "index" %></li>
</ul>